#about {
  padding: 0 30px;
  margin-bottom: 30px;
}
#about h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 59px;
  /* identical to box height, or 107% */

  text-align: center;

  /* vermelhoEscuro */

  color: #3b0000;
  margin: 13px 0;
}
#about .about-img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  margin: 37px 0;
  object-fit: cover;
  background-image: url('../img/praia_dl.jpg');
  background-position: center center;
  background-size: cover;
}
#about p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;

  /* vermelhoCorpo */

  color: #1a0000;
}
#about p strong {
  color: #ec4444;
  font-weight: bold;
}
#about p strong.bold-only {
  font-weight: semi-bold;
  color: #1a0000;
}
@media (min-width: 909px) {
  #about h2 {
    grid-area: title;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 59px;
    /* identical to box height, or 65% */

    text-align: start;

    /* vermelhoEscuro */

    color: #3b0000;
  }
  #about p {
    width: 545px;
    height: 141px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 46px;

    /* vermelhoCorpo */

    color: #1a0000;
  }
  #about #aboutp1 {
    grid-area: texto;
  }
  #about #aboutp2 {
    grid-area: texto2;
  }
  #about {
    padding: 50px 100px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr min-content;
    grid-template-areas:
      'title imagem imagem'
      'texto imagem imagem'
      'texto2 imagem imagem';
  }
  #about .about-img {
    grid-area: imagem;
    width: auto;
    height: auto;
  }
}
