* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --red: #f71f1f;
}
html,
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

  font-family: 'Poppins';

  /* Hide scrollbar for IE, Edge and Firefox */

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
body::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
