* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home {
  background: url(../img/fundoMelhor.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100vw;
}
#home .desc {
  font-family: 'Cormorant', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home img.logo {
  height: 250px;
}

#home #descricao {
  font-size: 18px;
  color: white;
  text-align: center;
}
#home #descricao #title {
  font-family: 'Tangerine';
  font-size: 64px;
  margin-bottom: 1em;
}
#home #descricao .scroll-flag {
  font-family: 'Poppins';
  font-size: 13px;
}
