#home header {
  z-index: 1;
  position: fixed;
  top: 0;
  height: 65px;
  padding: 0 30px;
  font-family: 'Cormorant', serif;
  background: #ee1c1c;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
}
#home header img {
  height: 55px;
}
#home header nav .menu {
  display: flex;
  gap: 20px;
  list-style: none;
  font-family: 'Cormorant';
  font-weight: bold;
  font-size: 20px;
}
#home header nav .menu li {
  cursor: pointer;
}
#home header nav .menu li a {
  display: inline-flex;
  color: white;
  align-items: center;
  text-decoration: none;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: none;
  transition: all 0.25s;
}
#home header nav .menu li a:hover {
  background-color: #d41111;
}
#home header .menu-mobile {
  background: none;
  border: none;
  display: none;
  cursor: pointer;
}
.menu-mobile div {
  width: 38px;
  height: 3px;
  background-color: white;
  transition: 0.5s;
}
@media (max-width: 600px) {
  #home header .menu-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
  }
  #home header nav .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ee1c1c;
    height: 53vh;
    transition: all 0.3s;
    width: 0px;
    position: absolute;
    right: -1px;
    top: -1px;
    visibility: hidden;
    overflow: hidden;
    gap: 0;
  }
  #home header nav.active .menu {
    width: 50vw;
    visibility: visible;
  }
  #home header nav.active .menu li {
    font-size: 20px;
    background-color: none;
    transition: background-color 0.2s;
  }
  #home header nav.active .menu li:hover {
    background-color: #d41111;
  }
  #home header nav.active .menu-mobile div {
    background-color: white;
  }
  #home header nav.active .menu-mobile div.t1 {
    rotate: 135deg;
    translate: 0 10px;
  }
  #home header nav.active .menu-mobile div.t2 {
    translate: 150px 0;
    opacity: 0;
  }
  #home header nav.active .menu-mobile div.t3 {
    rotate: -135deg;
    translate: 0 -10px;
  }
  #home header nav.active .menu-mobile {
    position: absolute;
    z-index: 5;
    top: 20px;
    right: 30px;
  }
}
