header {
  height: 32px;
  width: 40px;
  display: flex;
  background-color: yellow;
  position: fixed;
  top: 0;
  right: 0;
  padding: 5px;
  color: white;
  z-index: 5;
  text-align: end;
  transition: 0.4s;
  justify-content: end;
  overflow: hidden;
}
header.active {
  width: 250px;
  height: 200px;
}
header .menuButton {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
}
.menuButton .hamburguer {
  width: 30px;
  height: 2px;
  border-top: 4px solid black;
  transition: 0.3s;
}
.hamburguer::after,
.hamburguer::before {
  content: '';
  margin-top: 5px;
  display: block;
  width: inherit;
  transition: 0.3s;

  border-top: 4px solid;
  border-top-color: black;
}
header.active .menuButton .hamburguer {
  translate: 0 -8px;
  border-top-color: transparent;
}
header.active .menuButton .hamburguer::before {
  rotate: -220deg;
  translate: 0 8px;
}
header.active .menuButton .hamburguer::after {
  rotate: 220deg;
}
header .menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
}
header.active .menu {
  display: block;
}
header .menu ul {
  list-style: none;
}
.menu ul li {
  padding: 5px;
  text-align: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.176);
}
.menu ul li a {
  display: inline-block;
  width: 100%;
  padding: 10px 50px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
.menu ul li a:hover {
  font-size: 18px;
}
