.about-where-section {
  background-color: white;
  margin-top: 105vh;
  z-index: 1;
}
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #1b1b1b;
}

.section-body {
  padding: 10px 40px;

  font-family: 'Poppins';
  font-style: regular;
  font-weight: regular;
  font-size: clamp(14px, 18px, 3em);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-align: center;
}
.section-body p.about {
  width: 50%;
}
.section-body .restaurant-title {
  font-family: 'Tangerine';
  font-size: 5em;
  padding: 5%;
  padding-bottom: 0px;
}
.section-body .location {
  font-size: 14px;
  font-weight: semi-bold;
}
.mapouter {
  margin: 0 auto;
}
.contact > div {
  background-color: white;
  text-align: center;
  height: 100px;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/PRATO02.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 40px;
  gap: 10px;
}
.contact > div {
  font-size: 18px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.contact div p.pfont {
  font-size: 14px;
  margin-bottom: 10px;
}
.contact div p i {
  font-size: 32px;
}
.contact .wpp a {
  font-size: 28px;
  color: white;
  display: inline-block;
  text-align: center;
  background-color: #1bd741;
  height: 40px;
  width: 120px;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
  }
  .contact div p.pfont {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
