.about-where-section {
  background-color: white;
  margin-top: 105vh;
  z-index: 1;
}
.section-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  color: #1b1b1b;
}

.section-body {
  padding: 10px 40px;
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  font-style: regular;
  font-weight: regular;
  font-size: clamp(14px, 18px, 3em);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #000;
  text-align: center;
}
.section-body p.about {
  width: min(100%, 400px);
  text-align: start;
  line-height: 1.6;
}
.section-body .restaurant-title {
  font-family: 'Tangerine';
  font-size: 5em;
  text-align: start;
}
.section-body .location {
  font-size: 16px;
  font-weight: bold;
}
.mapouter {
  padding: 10px 40px;
}
.contact > div {
  background-color: white;
  text-align: center;
  height: 90%;
  width: 33%;
}
.contact {
  padding: 0 40px;
  width: 100%;
}
.contact p.contact-title {
  font-size: 32px;
  text-align: center;
}
.contact .contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  gap: 40px;
}
.contact > div {
  font-size: 18px;
  height: 200px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.contact div p.pfont {
  font-size: 14px;
  margin-bottom: 10px;
}
.contact div p i {
  font-size: 32px;
}
.contact .wpp a {
  font-size: 28px;
  color: white;
  display: inline-block;
  text-align: center;
  background-color: #1bd741;
  height: 40px;
  width: 120px;
}

@media screen and (min-width: 768px) {
  .contact {
    width: 100%;
    flex-direction: row;
  }
  .second-section-body-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact div p.pfont {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
